In [51]:
# Tugas 4

# Penjelasan atribut tiap kolom

# Invoice id :  Nomor identifikasi invoice penjualan yang dihasilkan komputer (Kategorikal = nominal (nomor seri berbeda - beda))
# Branch : Cabang dari toko (Kategorikal = nominal)
# City : Lokasi toko (Kategorikal = nominal)
# Customer type : Tipe Pelanggan (Kategorikal = nominal) 
# Gender : Jenis kelamin pelanggan (Kategorikal = nominal)
# Product line : Kategori barang yang dijual (Kategorikal = nominal)
# Unit price : Harga setiap produk/barang dalam dollar (Kuantitatif)
# Quantity : jumlah produk/barang yang dibeli oleh pelanggan (Kuantitatif)
# Tax : Pajak 5% dari pembelian pelanggan (Kuantitatif)
# Total : Harga total (termasuk pajak) (Kuantitatif)
# Date : Tanggal pembelian barang (Kuantitatif)
# Time : Waktu pembelian barang (Kuantitatif)
# Payment : Metode pembayaran yang digunakan oleh pelanggan (Kategorikal = nominal)
# COGS : Harga pokok penjualan (Kuantitatif)
# Gross margin percentage : persentase margin kotor (Kuantitatif)
# Gross income : pendapatan kotor (Kuantitatif)
# Rating : Penilaian terhadap keseluruhan pengalaman berbelanja oleh pelanggan  (Kuantitatif)


import pandas as pd

df = pd.read_csv("supermarket_sales - Sheet1.csv")

# Menampilkan dataframe dan penjelasan karakteristik data untuk tiap atribut
print (df)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

          Date   Time      Payment    cogs  gross margin percentage  \
0     1/5/2019  13:08      Ewallet  522.83                 4.761905
1     3/8/2019  10:29         Cash   76.40                 4.761905
2     3/3/2019  13:23  Credit card  324.31                 4.761905
3    1/27/2019  20:33      Ewallet  465.76                 4.761905
4     2/8/2019  10:37      Ewallet  604.17                 4.761905
..         ...    ...          ...     ...                      ...
995  1/29/2019  13:46      Ewallet   40.35                 4.761905
996   3/2/2019  17:16      Ewallet  973.80                 4.761905
997   2/9/2019  13:22         Cash   31.84                 4.761905
998  2/22/2019  15:33         Cash   65.82                 4.761905
999  2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]

In [30]:
print(df['Branch'].value_counts())
# Pada kolom branch (Kategorikal) terdapat kategori A, B, dan C

A    340
B    332
C    328
Name: Branch, dtype: int64

In [31]:
print(df["City"].value_counts())
# Pada kolom city (Kategorikal) terdapat kategori Yangon, Mandalay, Naypyitaw

Yangon       340
Mandalay     332
Naypyitaw    328
Name: City, dtype: int64

In [34]:
print(df["Customer type"].value_counts())
# Pada kolom customer type (Kategorikal) terdapat kategori Member dan Normal

Member    501
Normal    499
Name: Customer type, dtype: int64

In [35]:
print(df["Gender"].value_counts())
# Pada kolom gender (Kategorikal) terdapat kategori Female dan Male

Female    501
Male      499
Name: Gender, dtype: int64

In [36]:
print(df["Product line"].value_counts())
# Pada kolom product line (katerorikal) terdapat kategori :
# Fashion accessories       
# Food and beverages        
# Electronic accessories    
# Sports and travel         
# Home and lifestyle        
# Health and beauty

Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: Product line, dtype: int64

In [52]:
minimum = df.min()
maximum = df.max()

print (minimum["Unit price"])
print (maximum["Unit price"])
# Pada kolom unit price (kuantitatif) rangenya adalah dari 10.08 - 99.96

10.08
99.96

In [54]:
print (minimum["Quantity"])
print (maximum["Quantity"])
# Pada kolom quantity (kuantitatif) rangenya adalah dari 1 - 10

1
10

In [56]:
print (minimum["Tax 5%"])
print (maximum["Tax 5%"])
# Pada kolom tax (kuantitatif) rangenya adalah dari 0.5085 - 49.65

0.5085
49.65

In [57]:
print (minimum["Total"])
print (maximum["Total"])
# Pada kolom total (kuantitatif) rangenya adalah dari 10.6785 - 1042.65

10.6785
1042.65

In [59]:
print (minimum["Date"])
print (maximum["Date"])
# # Pada kolom date (kuantitatif) rangenya adalah dari 1/1/2019 - 3/9/2019

1/1/2019
3/9/2019

In [60]:
print (minimum["Time"])
print (maximum["Time"])
# Pada kolom time (kuantitatif) rangenya adalah dari 10:00 - 20:59

10:00
20:59

In [42]:
print(df["Payment"].value_counts())
# Pada kolom payment (Kategorikal) terdapat kategori Ewallet, Cash, dan Credit card

Ewallet        345
Cash           344
Credit card    311
Name: Payment, dtype: int64

In [61]:
print (minimum["cogs"])
print (maximum["cogs"])
# Pada kolom cogs (kuantitatif) rangenya adalah dari 10.17 - 993.0

10.17
993.0

In [46]:
print (maximum["gross margin percentage"])
print (minimum["gross margin percentage"])
# Pada kolom gross margin percentage (kuantitatif) rangenya adalah 4.761904762

4.761904762
4.761904762

In [62]:
print (minimum["gross income"])
print (maximum["gross income"])
# Pada kolom gross income (kuantitatif) rangenya adalah dari 0.5085 - 49.65

0.5085
49.65

In [63]:
print (minimum["Rating"])
print (maximum["Rating"])
# Pada kolom rating (kuantitatif) rangenya adalah dari 4.0 - 10.0

4.0
10.0